:root {
  /**
    Colors
  */
  --color-text: blue;
  --color-background: yellow;
  --color-light: silver;
  --color-primary: red;

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 40ch;

  /**
    Fonts
  */
  --font-family-sans-serif:
    system,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
}
